*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 15% ;
    background-color: antiquewhite;
}
header{
    width: 70%;
    height: 65px;
    display: flex;
    background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    /* font-family: 'Ysabeau Office', sans-serif; */
}
header h1{
    color: #fff;
}
header button{
    width: 210px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 0px 0px black;
    border: 0;
    margin-top: -5px;
    cursor: pointer;
    color: darkred;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
header button:hover{
    box-shadow: 0px 0px 0px 0px black;
    margin-top: 0px;
    transition: .1s;
}
/* nav qismi */

nav{
    width: 100%;
    height: 2000px;
    background-color: aliceblue;
    padding-top: 65px;
}
.box-top{
    display: flex;
    justify-content: space-between;
}
.box-top h2{
    width: 500px;
    height: 400px;
    background: linear-gradient(136.47deg, #AE0B0B 11.25%, rgba(174, 11, 11, 0) 65.3%);
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 40px;
    border-radius: 0px 200px;
    font-family: 'Montserrat', sans-serif;

}
.doctor-img{
    width: 390px;
    height: 500px;
}
nav img{
    height: 100%;
}
.box-center{
    width: 100%;
    height: 100px;
    border-top: 5px solid #AE0B0B;
    border-bottom: 5px solid #AE0B0B;
    background-color: rgba(255, 189, 200, 0.151);
    display: flex;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}
.box-center h3{
    margin: 10% auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.box-profesor{
    width: 100%;
    height: 400px;
    /* background-color: antiquewhite; */
    margin-top: 80px;
}
.box-profesor h3{
    width: 600px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180.93deg, #FF0606 -7%, rgba(255, 6, 6, 0) 50.59%);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}
.boxs{
    display: flex;
    width: 100%;
    height: 300px;
    /* background-color: cadetblue; */
    justify-content: space-between;
    margin-top: -110px;
}
.box{
    width: 100%;
}
.box h2{
    width: 100%;
    height: 150px;
    background: linear-gradient(106.08deg, #ff00003e -29.65%, rgba(255, 0, 0, 0) 99.4%);
    font-family: 'Bitter', serif;
    display: flex;
    align-items: center;
    border-top-left-radius: 40%;
    padding-top: 5px;
    padding-left: 10%;
}
.box p{
    background: linear-gradient(106.08deg, #FFF -29.65%, rgba(255, 183, 0, 0.314) 99.4%);
    /* background: rgba(255, 184, 0, 1); */
    width: 100%;
    height: 150px;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    padding-top: 30px;
    border-bottom-right-radius: 40%;
    margin-top: -20px;
    padding-left: 5%;
}
.boxs img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: -140px;
}
.box-center2{
    width: 100%;
    height: 160px;
    border-top: 5px solid #AE0B0B;
    border-bottom: 5px solid #AE0B0B;
    background-color: rgba(255, 189, 200, 0.151);
    display: flex;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    padding: 0 5%;
}
.box-center2 h3{
    margin: 10% auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.box-bottom{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-left{
    width: 50%;
    min-height: 400px;
    background: linear-gradient(163.86deg, #F43F41 -3.1%, rgba(244, 63, 65, 0) 50.2%);
    border-top-right-radius: 50%;
    padding-top: 50px;
    margin-top: 50px;
}
.back-left h2{
    font-family: 'Montserrat', sans-serif;
}
.back-left p{
    width: 120%;
    font-family: 'Bitter', serif;
    font-size: 22px;
    margin-top: 50px;
}
.back-right{
    background-color: #AE0B0B;
    width: 420px;
    height: 320px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.back-right img{
    width: 400px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
}