.omnigel{
    width: 80%;
    height: 800px;
    border: 1px solid;
    margin: 0 auto;
}
.box{
    width: 100%;
    height: 550px;
    border: 1px solid;
    display: flex;
}
.com1{
    width: 45%;
    height: 100%;
    border: 1px solid;
    border-radius: 50%;

}
.com2{
    width: 47%;
    height: 100%;
    border: 1px solid;
}