*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0 15% ;
    background-color: antiquewhite;
}
header{
    width: 70%;
    height: 65px;
    display: flex;
    background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    /* font-family: 'Ysabeau Office', sans-serif; */
    z-index: 2;
}
header h1{
    color: #fff;
}
header button{
    width: 210px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 0px 0px black;
    border: 0;
    margin-top: -5px;
    cursor: pointer;
    color: darkred;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
header button:hover{
    box-shadow: 0px 0px 0px 0px black;
    margin-top: 0px;
    transition: .1s;
}
/* nav qismi */

nav{
    width: 100%;
    height: 3600px;
    background-color: #fff;
    padding-top: 65px;
}
.box-top{
    display: flex;
    justify-content: space-between;
}
.box-top h2{
    width: 500px;
    height: 400px;
    background: linear-gradient(136.47deg, #AE0B0B 11.25%, rgba(174, 11, 11, 0) 65.3%);
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 35px;
    border-radius: 0px 200px;
    font-family: 'Montserrat', sans-serif;

}
.doctor-img{
    width: 390px;
    height: 500px;
}
nav img{
    height: 100%;
}
.box-center{
    width: 100%;
    height: 100px;
    border-top: 5px solid #AE0B0B;
    border-bottom: 5px solid #AE0B0B;
    background-color: rgba(255, 189, 200, 0.151);
    display: flex;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}
.box-center h3{
    margin: 10% auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.box-profesor{
    width: 100%;
    height: 400px;
    /* background-color: antiquewhite; */
    margin-top: 80px;
}
.box-profesor h3{
    width: 600px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180.93deg, #FF0606 -7%, rgba(255, 6, 6, 0) 50.59%);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}
.boxs{
    display: flex;
    width: 100%;
    height: 300px;
    /* background-color: cadetblue; */
    justify-content: space-between;
    margin-top: -110px;
}
.box{
    width: 100%;
}
.box h2{
    width: 100%;
    height: 150px;
    background: linear-gradient(106.08deg, #ff00003e -29.65%, rgba(255, 0, 0, 0) 99.4%);
    font-family: 'Bitter', serif;
    display: flex;
    align-items: center;
    border-top-left-radius: 40%;
    padding-top: 5px;
    padding-left: 10%;
}
.box p{
    background: linear-gradient(106.08deg, #FFF -29.65%, rgba(255, 183, 0, 0.314) 99.4%);
    /* background: rgba(255, 184, 0, 1); */
    width: 100%;
    height: 150px;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    padding-top: 30px;
    border-bottom-right-radius: 40%;
    margin-top: -20px;
    padding-left: 5%;
}
.boxs img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: -140px;
}
.box-center2{
    width: 100%;
    height: 190px;
    border-top: 5px solid #AE0B0B;
    border-bottom: 5px solid #AE0B0B;
    background-color: rgba(255, 189, 200, 0.151);
    display: flex;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    padding: 0 5%;
}
.box-center2 h3{
    margin: 10% auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.box-bottom{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-left{
    width: 50%;
    min-height: 400px;
    background: linear-gradient(163.86deg, #F43F41 -3.1%, rgba(244, 63, 65, 0) 50.2%);
    border-top-right-radius: 50%;
    padding-top: 50px;
    margin-top: 50px;
}
.back-left h2{
    font-family: 'Montserrat', sans-serif;
}
.back-left p{
    width: 120%;
    font-family: 'Bitter', serif;
    font-size: 22px;
    margin-top: 50px;
}
.back-right{
    background-color: #AE0B0B;
    width: 420px;
    height: 320px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.back-right img{
    width: 400px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
}

/* ozodni kodi */
.star{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.have{
    width: 70%;
    height: 100%;
    border-radius: 100px;
    background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    display: flex;
    align-items: center;
}
.boc{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../image/Ellipse\ 8.png);
    background-size: cover;
    
}
.star i{
    font-size: 100px;
    transform: rotate(20deg);
    color: red;
    z-index: 0;
}
.have p{
    margin-left: 10px;
    font-size: 18px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
.ten{
    width: 100%;
    height: 300px;
    padding-top: 20px;
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}
.for{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    font-size: 22px;
}
.for ul{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
.eight{
    width: 70%;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
}
.sev{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}
.sevn{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
}
.sevn i{
    font-size: 120px;
    margin-left: 50px;
    margin-top: 20px;
    color: white;
}
.eight h1{
    color: white;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.five{
    width: 80%;
    height: 60px;
    margin: 0 auto;
    padding-top: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: radial-gradient(circle at 10% 20%, rgba(119, 0, 0, 0.84) 0%, rgb(221, 49, 49) 90%);
}
.five h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.pur{
    width: 60%;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    margin: 0 auto;
    background: radial-gradient(circle at 10% 20%, rgba(247, 83, 83, 0.84) 0%, rgb(221, 49, 49) 90%);
}
.pur h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(252, 247, 247);
}
.royxat{
    width: 40%;
    height: 400px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(227, 227, 227);
}
.royxat h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.omnigel-img{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-left: 50px;
}
.omnigel-img img{
    width: 100%;
    height: auto;
}
.spn1{
    text-decoration: line-through;

}
.spn2{
    color: red;
}
.royxat input{
    width: 90%;
    height: 45px;
    margin: 0 auto;
    margin-left: 20px;
    background-color: #ffffff;
    color: #4a0000;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}
.box3 i{
    font-size: 50px;
    margin-top: 10px;
    color: rgba(0, 0, 255, 0.824);
}
.box3{
    width: 90%;
    height: 80px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 40px;
}
.box3 h6{
    margin-left: 10px;
    font-size: 15px;
}
.sel{
    width: 100%;
    height: 650px;
}
.royxat a{
    margin:     0px 20%;
}
.royxat button{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 0px 0px #9a9a9a;
    border: 0;
    background: radial-gradient(circle at 10% 20%, rgba(119, 0, 0, 0.84) 0%, rgb(221, 49, 49) 90%);
    margin-top: -5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.active{
    display: none;
}
.royxat button:hover{
    box-shadow: 0px 0px 0px 0px black;
    margin-top: 0px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}
footer h1{
    text-align: center;
}
.container-sharh{
    margin: 0 auto;
    width: 90%;
    background-color: #792b2b26;
    margin-top: 50px;
    padding: 1%;
    border-radius: 8px;
}
.sharh-img{
    display: flex;
    align-items: center;
}
.sharh-img img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.sharh-img h2{
    margin-left: 20px;
}
.container-sharh p{
    font-size: 18px;
    margin-top: 10px;
}



/* ----Responsive----- */

@media screen and (max-width: 1000px){
    body{
        padding: 0;
    }
    .box-bottom{
        margin-top: 50px;
    }
    header{
        width: 100%;
    }
}

@media screen and (max-width: 899px){
    body{
        padding: 0;
    }
    header{
        width: 100%;
    }
    .sel{
        margin-top: 120px;
    }
    .star{
        height: 150px;
    }
    .have{
        width: 100%;
        height: 100%; 
    }
    .boc{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url(../image/Ellipse\ 8.png);
        background-size: cover;
        
    }
    .star i{
        font-size: 90px;
    }
    .have p{
        font-size: 16px;
    }


    .ten{
        width: 100%;
        height: 300px;
        padding-top: 20px;
        background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    }
    .for{
        width: 70%;
        height: 100%;
        margin: 0 auto;
        font-size: 22px;
    }
    .for ul{
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .eight{
        width: 70%;
        height: 200px;
        border-radius: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    }
    .sev{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
    }
    .sevn{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 10px;
        background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    }
    .sevn i{
        font-size: 120px;
        margin-left: 50px;
        margin-top: 20px;
        color: white;
    }
    .eight h1{
        color: white;
        margin-left: 20px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    .five{
        width: 80%;
        height: 60px;
        margin: 0 auto;
        padding-top: 15px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background: radial-gradient(circle at 10% 20%, rgba(119, 0, 0, 0.84) 0%, rgb(221, 49, 49) 90%);
    }
    .five h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    .pur{
        width: 60%;
        height: 100px;
        border-radius: 50px;
        padding-top: 15px;
        margin: 0 auto;
        background: radial-gradient(circle at 10% 20%, rgba(247, 83, 83, 0.84) 0%, rgb(221, 49, 49) 90%);
    }
    .pur h3{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: rgb(252, 247, 247);
    }
    .royxat{
        width: 70%;
        height: 400px;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        background-color: rgb(227, 227, 227);
    }
    .royxat h3{
        font-family: 'Montserrat', sans-serif;
    }
    .royxat input{
        width: 90%;
        height: 45px;
        margin: 0 auto;
        margin-left: 20px;
        background-color: rgba(186, 182, 182, 0.792);
        border: none;
    }
    .box3 i{
        font-size: 50px;
        margin-top: 10px;
        color: rgba(0, 0, 255, 0.824);
    }
    .box3{
        width: 90%;
        height: 80px;
        margin-left: 20px;
        display: flex;
    }
    .box3 h6{
        margin-left: 10px;
        font-size: 15px;
    }
    .sel{
        width: 100%;
        height: 520px;
    }
}

@media screen and (max-width: 680px){
    .box-top h2{
        width: 400px;
        height: 300px;
        font-size: 20px;
        border-radius: 0px 200px;
        font-family: 'Montserrat', sans-serif;
    
    }
    .doctor-img{
        width: 390px;
        height: 300px;
    }
    .doctor-img img{
        height: 100%;
    }
    .box-profesor{
        width: 100%;
        height: 400px;
        margin-top: 20px;
    }
    .box-profesor h3{
        width: 100%;
        height: 200px;
        font-size: 18px;
        padding-top: 0px;
        padding: 20px 2%;
        background: #ffffff00;
    }
    .boxs{
        display: flex;
        width: 100%;
        height: 300px;
        margin-top: -110px;
    }
    .box{
        width: 100%;
    }
    .box h2{
        font-size: 20px;
    }
    .box p{
        width: 100%;
        height: 150px;
        font-size: 17px;
        padding-top: 30px;
        margin-top: -20px;
        padding-left: 5%;
    }
    .box-center2{
        width: 100%;
        height: 210px;
        display: flex;
        align-items: center;
        margin-top: 0px;
        padding: 0 5%;
    }
    .box-center2 h3{
        margin: 10% auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-align: justify;
    }
    /*dfdsfds  */

    .box-bottom{
        width: 100%;
        height: 400px;
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .back-left{
        width: 100%;
        min-height: 400px;
        padding-top: 50px;
        margin-top: 50px;        
    }
    .back-left h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding: 0 15% 0 2%;
    }
    .back-left p{
        width: 100%;
        font-family: 'Bitter', serif;
        font-size: 22px;
        margin-top: 50px;
    }
    .back-right{
        background-color: #AE0B0B;
        width: 420px;
        height: 320px;
        margin: -50px auto 0 auto;
    }
    .back-right img{
        width: 400px;
        height: 300px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .omnigel-img{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding-left: 50px;
    }
    .omnigel-img img{
        width: 100%;
        height: auto;
    }

    /* -------------ghgfhgfhgfhfghfghfghfgh------------------ */

    .sel{
        margin-top: 290px;
    }
    .star{
        height: 120px;
    }
    .have{
        width: 100%;
        height: 100%; 
    }
    .boc{
        width: 200px;
        height: 120px;
        border-radius: 50%;
        background-image: url(../image/Ellipse\ 8.png);
        background-size: cover;
        
    }
    .star i{
        font-size: 70px;
    }
    .have p{
        font-size: 12px;
    }


    .ten{
        width: 100%;
        height: 360px;
        padding-top: 20px;
        background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    }
    .for{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        font-size: 20px;
    }
    .for ul{
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .for ul li{
        margin-top: 5px;
    }
    .eight{
        width: 90%;
        height: 150px;
        border-radius: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    }
    .sev{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
    }
    .sevn{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 10px;
        background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    }
    .sevn i{
        font-size: 80px;
        margin-left: 40px;
        margin-top: 20px;
        color: white;
    }
    .eight h1{
        color: white;
        margin-left: 20px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    .five{
        width: 80%;
        height: 60px;
        margin: 0 auto;
        padding-top: 15px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background: radial-gradient(circle at 10% 20%, rgba(119, 0, 0, 0.84) 0%, rgb(221, 49, 49) 90%);
    }
    .five h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 15px;
    }
    .pur{
        width: 90%;
        height: 100px;
        border-radius: 50px;
        padding-top: 15px;
        margin: 0 auto;
        background: radial-gradient(circle at 10% 20%, rgba(247, 83, 83, 0.84) 0%, rgb(221, 49, 49) 90%);
    }
    .pur h3{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: rgb(252, 247, 247);
    }
    .royxat{
        width: 80%;
        height: 400px;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        background-color: rgb(227, 227, 227);
    }
    .royxat h3{
        font-family: 'Montserrat', sans-serif;
    }
    .royxat input{
        width: 90%;
        height: 45px;
        margin: 0 auto;
        margin-left: 20px;
        background-color: #ffffff;
        border: none;
    }
    .box3 i{
        font-size: 50px;
        margin-top: 10px;
        color: rgba(0, 0, 255, 0.824);
    }
    .box3{
        width: 90%;
        height: 80px;
        margin-left: 20px;
        display: flex;
    }
    .box3 h6{
        margin-left: 10px;
        font-size: 14px;
    }
    .sel{
        width: 100%;
        height: 410px;
    }
}

/* tel versiya 420px */
@media screen and (max-width: 420px){
    header h1{
        color: #fff;
        font-size: 25px;
    }
    header button{
        width: 150px;
        height: 30px;
        box-shadow: 5px 5px 0px 0px black;
        font-size: 13px;
    }
    .box-top h2{
        width: 500px;
        height: 200px;
        font-size: 15px;
        border-radius: 0px 50%;
        font-family: 'Montserrat', sans-serif;
    
    }
    .doctor-img{
        width: 390px;
        height: 200px;
        margin-left: 10%;
    }
    .doctor-img img{
        height: 100%;
    }
    .box-profesor{
        width: 100%;
        height: 400px;
        margin-top: 20px;
    }
    .box-profesor h3{
        width: 100%;
        height: 200px;
        font-size: 18px;
        padding-top: 0px;
        padding: 20px 2%;
        background: #ffffff00;
    }
    .box-center{
        margin-top: 10px;
        padding: -10%;
    }
    .box-center h3{
        font-size: 15px;
    }
    .boxs{
        display: flex;
        width: 100%;
        height: 300px;
        margin-top: -110px;
    }
    .box{
        width: 100%;
    }
    .box h2{
        font-size: 18px;
    }
    .box p{
        width: 100%;
        height: 150px;
        font-size: 17px;
        padding-top: 30px;
        margin-top: -20px;
        padding-left: 5%;
    }
    .box-center2{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        margin-top: 0px;
        padding: 0 5%;
    }
    .box-center2 h3{
        margin: 10% auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-align: justify;
    }
    /*dfdsfds  */

    .box-bottom{
        width: 100%;
        height: 400px;
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .back-left{
        width: 100%;
        min-height: 400px;
        padding-top: 50px;
        margin-top: 50px;        
    }
    .back-left h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding: 0 15% 0 2%;
    }
    .back-left p{
        width: 100%;
        font-family: 'Bitter', serif;
        font-size: 22px;
        margin-top: 20px;
    }
    .back-right{
        background-color: #AE0B0B;
        width: 315px;
        height: 215px;
        margin: 10px auto 0 auto;
    }
    .back-right img{
        width: 300px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    
    /* ------------------------------- */


    .sel{
        margin-top: 290px;
    }
    .star{
        height: 120px;
    }
    .have{
        width: 100%;
        height: 100%; 
    }
    .boc{
        width: 170px;
        height: 120px;
        border-radius: 50%;
        background-image: url(../image/Ellipse\ 8.png);
        background-size: cover;
        
    }
    .star i{
        font-size: 0px;
    }
    .have p{
        font-size: 12px;
        margin-left: 0;
    }


    .ten{
        width: 100%;
        min-height: 450px;
        padding-top: 20px;
        background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    }
    .for{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        font-size: 20px;
    }
    .for ul{
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .for ul li{
        margin-top: 5px;
    }
    .eight{
        width: 90%;
        height: 150px;
        border-radius: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    }
    .sev{
        width: 250px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
    }
    .sevn{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 10px;
        background: radial-gradient(circle at 10% 20%, rgb(119, 0, 0) 0%, rgb(221, 49, 49) 90%);
    }
    .sevn i{
        font-size: 80px;
        margin-left: 40px;
        margin-top: 20px;
        color: white;
    }
    .eight h1{
        color: white;
        margin-left: 20px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    .five{
        width: 80%;
        height: 60px;
        margin: 0 auto;
        padding-top: 15px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background: radial-gradient(circle at 10% 20%, rgba(119, 0, 0, 0.84) 0%, rgb(221, 49, 49) 90%);
    }
    .five h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 15px;
    }
    .pur{
        width: 90%;
        height: 100px;
        border-radius: 50px;
        padding-top: 20px;
        margin: 0 auto;
        background: radial-gradient(circle at 10% 20%, rgba(247, 83, 83, 0.84) 0%, rgb(221, 49, 49) 90%);
    }
    .pur h3{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: rgb(252, 247, 247);
        font-size: 15px;
    }
    .royxat{
        width: 85%;
        height: 400px;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        background-color: rgb(227, 227, 227);
    }
    .royxat h3{
        font-family: 'Montserrat', sans-serif;
    }
    .royxat input{
        width: 90%;
        height: 45px;
        margin: 0 auto;
        margin-left: 20px;
        background-color: #ffffff;
        border: none;
    }
    .box3 i{
        font-size: 50px;
        margin-top: 10px;
        color: rgba(0, 0, 255, 0.824);
    }
    .box3{
        width: 90%;
        height: 80px;
        margin-left: 20px;
        display: flex;
    }
    .box3 h6{
        margin-left: 10px;
        font-size: 14px;
    }
    .sel{
        width: 100%;
        height: 410px;
    }
    .royxat button{
        font-size: 15px;
    }
    nav{
        height: 3500px;
    }
    .omnigel-img{
        width: 100%;
        height: 200px;
        text-align: center;
        margin: 0 auto;
    }
    .back-left p{
        text-align: center;
    }
    .box3 h6{
        font-size: 13px;
    }
}